<div class="row">
		<h3>Login</h3>
		  <%= flash.alert %>
		  <%= form_tag session_path do %>
			  <div class="row">
			  	<div class="col-md-2"></div>
					<div class="col-md-4">
			    	<%= label_tag :email %>
			    </div>
			    <div class="col-md-4">
			    	<%= text_field_tag :email %>
			    </div>
			    <div class="col-md-2"></div>
			  </div>


			  <div class="row">
			  	<div class="col-md-2"></div>
					<div class="col-md-4">
		    		<%= label_tag :password %>
		    	</div>
		    	<div class="col-md-4">
		    		<%= password_field_tag :password %>
		    	</div>
		    	<div class="col-md-2"></div>
		    </div>

		    <div class="row">
		    	<div class="col-md-5"></div>
		    	<div class="col-md-2">
		    		<%= submit_tag "Login" %>
		    	</div>
		    	<div class="col-md-5"></div>
		    </div>

		  <% end %>
		  <div class="row">
		  	<%= link_to "Not a Member?", new_user_path, class: "submit_order" %>
		  </div>
</div>



  
